*{
    font-family:"Poppins", Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.my-text{
    width: 200px;
    border: 0px !important;
    border-bottom: 2px solid #5e6c84 !important;
    outline: 0px !important;
}
.my-text:disabled{
    background-color: white;
}
.my-text::placeholder{
    font-size: 12px;
}
.color{
    color: #3b71ca;
} 
.funny{
    background-color: #0376f9 !important;
}
.copy{
    cursor:not-allowed;
    border: 0px ;
    background-color: white;
    
}
.fa-solid{
    font-size: 25px !important;
}
@media screen and (max-width: 400px) {
    .my-text{
        width: 170px ;
        font-size: 12px;
        font-weight: bold;
        margin-top: 10px;
    }
    .btn{
        /* width: 100px; */
        font-size: 10px;
    }
    .my-text::placeholder{
        font-size: 8px;
    }
    #check-input::placeholder{
        font-size: 10px;
    }
}
@media screen and (max-width: 300px) {
    .my-text{
        width: 100px ;
    }
    
    .btn{
        /* width: 100px; */
        font-size: 8px;
    }  
      #check-input::placeholder{
        font-size: 8px;
    }
}